
html, body {
    max-width: 1024px;
    margin: 0 auto;
}
body {
    background-color: #d0d0d0;
}

a, a:visited {
    color: darkorange;
}

pre {
    background-color: #000;
    color: #fff;
    border: 1px solid red;
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
}
